.experienceContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.card {
  background-color: #e7e8fb;
  border-radius: 8px;
  box-shadow: 0 4px 8px white;
  overflow: auto;
  padding: 10px;
  transition: transform 0.3s ease-in-out;
  width: 800px;
  margin: 30px;
}

.card:hover {
  transform: scale(0.9) rotate(-1deg);
  transition: transform 0.1s ease-in-out;
}

.card-content {
  padding: 16px;
}

.heading {
  font-size: 2.5rem;
  color: #0fa8f4;
  margin-top: 100px;
  margin-bottom: 30px;
  text-align: center;
}

.card h1 {
  font-size: 1.5rem;
  margin-bottom: 8px;
}

.card h2 {
  font-size: 1rem;
  color: #555;
  margin-bottom: 8px;
}

.card h3 {
  font-size: 0.9rem;
  color: #888;
}

.card hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #eee;
}

.skills {
  margin-top: 10px;
  font-size: 0.9rem;
  color: #555;
}

.additionalPoints {
  margin-top: 15px;
  font-size: 0.9rem;
  color: #777;
}

.point {
  margin-top: 8px;
}

.skills span {
  margin-top: 15px;
  margin-right: 10px;
  padding: 4px;
  background-color: #E8EDED;
  border-radius: 10px;
}

@media only screen and (max-width: 600px) {
  .card {
    width: 300px;
    margin: 50px;
  }
}